<div class="container-fluid">
    <div class="row align-content-center justify-content-between">
        <div class="col-2 d-block">
            <div class="burger-wrap">
                <a href="#" id="burger-menu" data-toggle="show" data-target="#header-modal" role="button" aria-expanded="false" aria-controls="header-modal">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
        <div class="col-2 col-md-1 col-lg-1">
            <div class="flex align-content-center justify-content-between">
                <form class="switch">
                    <input class="check" type="checkbox" name="switch" value="on">
                    <div class="button"></div>
                    <div class="bg" id="bg2"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- SIDE MODAL -->
<div id="header-modal" class="side-modal side-modal-left">
    <!-- MODAL CONTROLS -->
    <div class="controls controls-absolute">
        <div class="text-right">
            <a href="#" data-toggle="show" data-target="#side-modal" role="button" aria-expanded="false" aria-controls="newsletter-modal">
                <svg class="icon-close" aria-hidden="true" role="icon">
                    <use href="#icon-close" xlink:href="#icon-close"></use>
                </svg>
            </a>
        </div>
    </div>
    <!-- END: MODAL CONTROLS -->
    
    <div class="header-menu pb-10 pt-40">
        <div class="content-wrap">
            <div class="top-content">
                <div class="title pb-20">
                    Projects
                </div>
                <nav>
                    <ul>
                        <li>
                            <div class="button_show link">
                                <a href="https://pertenecer.me" target="_blank">
                                    → Pertenecer
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="button_show link">
                                <a href="https://nukitacoffee.com/" target="_blank">
                                    → Nukita Coffee
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="bottom-content">
                <div class="about">
                    <div class="pb-20 link">
                        Contact
                    </div>
                </div>
                <div class="credits link">
                    <ul>
                        <li class="pb-20 link">
                            <div>
                                Email
                            </div>
                            <div>
                                <a href="mailto:carolina@anagrama.com" target="_blank">carolina@anagrama.com</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: SIDE MODAL -->
