<div class="container-fluid">
    <div class="row align-content-center justify-content-between bg-white">
        <div class="col col-md-2 col-lg d-none d-lg-flex align-items-center justify-content-start">
            <!-- NAV LIST -->
            <nav class="nav nav-pills nav-fill header-text">
                <ul>
                    <li class="nav-item"><a href="./cursos.html" class="nav-link">aprende</a></li>
                    <li class="nav-item"><a href="./blog.html" class="nav-link">infórmate</a></li>
                    <li class="nav-item"><a href="./centros.html" class="nav-link">centros</a></li>
                    <li class="nav-item"><a href="./centros.html" class="nav-link">centros</a></li>
                </ul>
            </nav>
            <!-- END: NAV LIST -->
        </div>
        <div class="col col-md-2 col-lg-2 d-flex d-md-block">
            <!-- LOGO -->
            <a href="./" class="logo d-flex">
                <svg class="header-logo d-none d-md-block my-auto" aria-hidden="true" role="icon">
                    <use href="#header-logo" xlink:href="#header-logo"></use>
                </svg>
            </a>
            <!-- END: LOGO -->
        </div>
        <div class="col col-md-2 col-lg d-none d-lg-flex align-items-center justify-content-end">
            <!-- NAV LIST -->
            <nav class="nav nav-pills nav-fill header-text">
                <ul>
                    <li class="nav-item"><a href="./cursos.html" class="nav-link">aprende</a></li>
                    <li class="nav-item"><a href="./blog.html" class="nav-link">infórmate</a></li>
                    <li class="nav-item"><a href="./centros.html" class="nav-link">centros</a></li>
                    <li class="nav-item"><a href="./centros.html" class="nav-link">centros</a></li>
                </ul>
            </nav>
            <!-- END: NAV LIST -->
        </div>
        <div class="col burger-wrap d-flex justify-content-end align-items-center d-lg-none">
            <div class="i-action-search pill pill-input pill-mobile d-flex d-md-none">
                <!-- <input type="text" id="search-mobile-input" placeholder="search"> -->
                <a href="#" class="pointer" data-toggle="show" data-target=".header-sub-search" role="button" aria-expanded="false" aria-controls=".header-sub-search">
                    <svg class="icon-search" aria-hidden="true" role="icon">
                        <use href="#icon-search" xlink:href="#icon-search"></use>
                    </svg>
                </a>
            </div>
            <a id="burger-menu" class="d-block" data-toggle="show" data-target=".header-menu, #burger-menu" role="button" aria-expanded="false" aria-controls="header-menu">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>

    <div class="header-menu d-lg-none">
        <ul class="nav nav-mobile-menu flex-column link mx-5">
            <li class="nav-item">
                <a class="nav-link d-flex justify-content-between" data-toggle="show" data-target="#header-sub-menu-sobre, .header-menu" role="button" aria-expanded="false"
                    aria-controls="header-sub-menu">
                    <div>
                        Sobre Epi
                    </div>
                    <div class="d-flex align-items-center">
                        <svg class="icon-caret cursor-pointer">
                            <use href="#icon-caret" xlink:href="#icon-caret"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="nav-item"><a href="./cursos.html" class="nav-link">Aprende</a></li>
            <li class="nav-item"><a href="./blog.html" class="nav-link">Infórmate</a></li>
            <li class="nav-item"><a href="./centros.html" class="nav-link">Centros</a></li>
            <li class="nav-item"><a href="./contacto.html" class="nav-link">Contacto</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Portal de Suministro</a></li>
        </ul>
    </div>

</div>