<div class="container-fluid">
    <div class="row align-content-center justify-content-between">
        <div class="col-2 d-block">
            <div class="burger-wrap">
                <a href="#" id="burger-menu" data-toggle="show" data-target="#header-modal, #burger-menu" role="button" aria-expanded="false" aria-controls="header-modal">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
        <div class="col-3 col-md-1 col-lg-1 d-flex justify-content-end">
            <form class="switch my-auto">
                <input class="check" type="checkbox" name="switch" value="on">
                <div class="button"></div>
                <div class="bg" id="bg2"></div>
            </form>
        </div>
    </div>
</div>

<!-- SIDE MODAL -->
<div id="header-modal" class="side-modal side-modal-left">
    <!-- MODAL CONTROLS -->
    <div class="controls controls-absolute">
        <div class="text-right">
            <a href="#" data-toggle="show" data-target="#side-modal" role="button" aria-expanded="false" aria-controls="newsletter-modal">
                <svg class="icon-close" aria-hidden="true" role="icon">
                    <use href="#icon-close" xlink:href="#icon-close"></use>
                </svg>
            </a>
        </div>
    </div>
    <!-- END: MODAL CONTROLS -->

    <div class="header-menu pb-10 pt-40">
        <div>
            <div class="top-content underline-links body-text">
                <div class="title pb-25">
                    <div>
                        <a href="https://anagrama.com/">ANAGRAMA.COM</a>
                    </div>
                    <div>
                        <a href="https://nukitacoffee.com/">NUKITACOFFEE.COM</a>
                    </div>
                    <div>
                        <a href="https://pertenecer.me/">PERTENERCER.ME</a>
                    </div>
                </div>
            </div>
            <div class="underline-links body-text">
                <div>
                    DEEP THOUGHTS ON  <a href="https://medium.com/">MEDIUM</a>
                </div>
                <div>
                    INSPO ON <a href="https://www.tumblr.com/">TUMBLR</a>
                </div>
                <div>
                    MUSIC ON <a href="https://open.spotify.com/">SPOTIFY</a>
                </div>
                <div>
                    PHOTO JOURNAL ON <a href="https://www.instagram.com/carolina__or/">INSTAGRAM</a>
                </div>
                <div>
                    DON'T MIND ME AT <a href="https://twitter.com/carolina__or?s=21">TWITTER</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: SIDE MODAL -->