<div id="svg">
    <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="circle_1" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 60C2.89694e-06 26.8629 26.8629 -2.89694e-06 60 0C93.1371 2.89694e-06 120 26.8629 120 60C120 93.1371 93.1371 120 60 120C26.8629 120 -2.89694e-06 93.1371 0 60Z" fill="url(#paint0_angular)"/>
                <defs>
                <radialGradient id="paint0_angular" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(60 60) rotate(90) scale(86.6667)">
                <stop stop-color="#857580"/>
                <stop offset="1" stop-color="#857580" stop-opacity="0"/>
                </radialGradient>
                </defs>
            </symbol>
            <symbol id="circle_2" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 65C-3.13835e-06 29.1015 29.1015 3.36559e-05 65 3.05176e-05C100.898 2.73792e-05 130 29.1015 130 65C130 100.899 100.899 130 65 130C29.1015 130 3.13835e-06 100.899 0 65Z" fill="url(#paint0_angular)"/>
                <defs>
                <radialGradient id="paint0_angular" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(65 65) rotate(-90) scale(65)">
                <stop stop-color="#857580"/>
                <stop offset="1" stop-color="#857580" stop-opacity="0"/>
                </radialGradient>
                </defs>
            </symbol>
            <symbol id="rectangle" viewBox="0 0 246 130" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0H245.678V130H0V0Z" fill="url(#paint0_angular)"/>
                <defs>
                <radialGradient id="paint0_angular" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(122.839 65) rotate(90) scale(144.896 273.829)">
                <stop stop-color="#857580"/>
                <stop offset="1" stop-color="#857580" stop-opacity="0"/>
                </radialGradient>
                </defs>
            </symbol>         
        </defs>
    </svg>
</div>