header {
  position: fixed;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid $text-gray;
  background-color: $night;
  top: 0;
  left: 0;
  z-index: 10;
  transition: border 0.4s ease-in-out;

  form {
    position: relative;
    margin: 10px auto;
    width: 30px;
    height: 16px;

    .bg {
      position: absolute;
      width: 31px;
      height: 18px;
      box-shadow: 0 -12px 15px rgba(0, 0, 0, 0.02) inset, 0px 0px 0px 1px $text-gray inset;
      border-radius: 11px;
      background: $text-gray;
      -webkit-transition: background 0.3s, box-shadow 0.4s;
      -moz-transition: background 0.3s, box-shadow 0.4s;
      transition: background 0.3s, box-shadow 0.4s;
    }

    input[type="checkbox"]:checked ~ #bg2 {
      box-shadow: 0 -12px 15px rgba(0, 0, 0, 0.02) inset, 0px 0px 0px 13px $text-gray inset;
      background: $text-gray;
    }

    input[type="checkbox"]:checked ~ .button {
      left: 14px;
    }

    input {
      position: absolute;
      top: -2;
      left: -2;
      opacity: 0;
      width: 30px;
      height: 16px;
      margin: 0;
      padding: 0;
      cursor: pointer;
      z-index: 20;
    }

    .button {
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid;
      box-shadow: 0 -12px 15px rgba(0, 0, 0, 0.02) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
      background: $black;
      border-radius: 10px;
      position: absolute;
      margin: 1px;
      z-index: 19;
      -webkit-transition: left 0.3s;
      -moz-transition: left 0.3s;
      transition: left 0.3s;
    }
  }

  .container-fluid,
  .row {
    height: 100%;
  }
}

header {
  &.active-background {
    // border-bottom: 1px solid black;
  }
}

.burger-wrap {
  width: 45px;
  height: 40px;
  border-right: 1px solid $text-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;

  #burger-menu {
    position: absolute;
    left: 18px;
    width: 20px;
    height: 20px;
    z-index: 99;
    cursor: pointer;

    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $text-gray;
      transition: background-color 0.25s, transform 0.25s;
      -webkit-transition: background-color 0.25s, -webkit-transform 0.25s;

      &:nth-of-type(1) {
        top: 25%;
      }

      &:nth-of-type(4) {
        top: 75%;
      }

      &:nth-of-type(2),
      &:nth-of-type(3) {
        top: 50%;
      }
    }

    &.open {
      span {
        background-color: $text-gray;

        &:nth-of-type(1),
        &:nth-of-type(4) {
          transform: scaleX(0);
          -webkit-transform: scaleX(0);
        }

        &:nth-of-type(2) {
          transform: rotate(-45deg);
          -webkit-transform: scaleX(-45deg);
        }
        &:nth-of-type(3) {
          transform: rotate(45deg);
          -webkit-transform: scaleX(45deg);
        }
      }
    }
  }
}

.header-menu {
  // display: none;
  width: 400px;
  height: 100%;
  // position: fixed;
  // padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background: $night;
  border-right: 1px solid $text-gray;
  @include media-breakpoint-down(sm){
    width: 100%;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

body.dark_mode {
  header {
    border-bottom: 1px solid $night;
    background-color: $off-white;
    form {
      .bg {
        box-shadow: 0 -12px 15px rgba(255, 255, 255, 0.02) inset, 0px 0px 0px 1px $text-gray inset;
        background: $text-gray;
      }

      input[type="checkbox"]:checked ~ #bg2 {
        box-shadow: 0 -12px 15px rgba(255, 255, 255, 0.02) inset, 0px 0px 0px 13px $night inset;
        background: $off-white;
      }

      .button {
        box-shadow: 0 -12px 15px rgba(255, 255, 255, 0.02) inset, 0px 2px 4px 0px rgba(255, 255, 255, 0.2);
        background: $text-gray;
      }
    }
  }

  .header-menu {
    background: $off-white;
    border-right: 1px solid $text-gray;
  }
  .burger-wrap {
    border-right: 1px solid $night;
    #burger-menu {
      span {
        background-color: $night;
      }

      &.open {
        span {
          background-color: $night;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
}
@include media-breakpoint-down(sm) {
  header {
    width: 100%;
    // .header-menu {
    //   display: none;
    //   width: 100%;
    // }
  }
}
